.bg-darker{
    background-color: rgb(44, 62, 80);
}

.text-white{
    color: white;
}

.text-darker{
    color: rgb(44, 62, 80);
}

.my-navbar .nav > li > a:focus, 
.my-navbar .nav > li > a:hover{
    background-color: rgba(44, 62, 80, 0.5);
}

.my-navbar .icon-bar{
    background-color: white;
}

.bg-green{
    background-color: rgb(26, 188, 156);
}

.my-img-container{
    max-width: 200px;
}

.my-linea{
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}
.my-hr{
    border: 2px solid ;
}
.stellina{
    margin: 0 15px;
}
.portfolio img{
    margin: 15px 0;
}

.bg-green .my-btn-green{
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 25px;
    
}

.my-pd-pagina .form-control{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
}

/* padding per tutte le sezioni */
.my-pd-pagina{
    padding: 40px 0;
}




